html,
body {
  /* background-image: url("./images/pptile.png") !important;
  background-size: 150px !important;
  background-repeat: repeat !important; */
}

.shuriken {
  animation: loading 1s ease infinite;
  width: 64px;
  height: 64px;
  position: absolute !important;
  z-index: 10;
}

@keyframes loading {
  /* Safari support */
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.congrats_card {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-image: url("./images/oshio.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: white;
  text-shadow: 0 0 10px black;
}

.congrats_card:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 83%
  );
  opacity: 0.6;
}

.congrats_card_message_container {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;
  padding-left: 7rem !important;
}

.congrats_card_message {
  color: white !important;
  padding: 1rem 0;
  font-size: 5rem;
  font-weight: 900;
}
.congrats_card_submessage {
  color: white !important;
  font-size: 2rem !important;
}

.congrats_description {
  font-size: 1.5rem;
  color: white;
  max-height: 40vh;
  overflow-y: auto;
}

.congrats_buttons {
  padding: 1rem 0;
}

.congrats_card_more {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  font-size: 2rem;
  bottom: 2rem;
  text-align: center;
  width: 100%;
}

.download_container {
  width: 50%;
  padding: 0 4vw;
  aspect-ratio: 16/9;
  text-align: right;
  color: white;
}

.download_description {
  margin-bottom: 2vw;
}

.download_description_title {
  font-weight: 900;
  font-size: 5rem;
}
.download_description_subtitle {
  font-size: 2rem;
}

.download_button_container {
  float: right;
}

.download_button {
  font-size: 2rem !important;
  display: flex !important;
  padding: 1rem 1rem !important;
  margin: 0 !important;
}

.download_icon {
  width: 2rem;
  margin-right: 1rem;
}

.download_button:hover {
  box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
  transform: scale(1.03);
}

.download_button:hover img {
  animation: loading 1s ease infinite;
}

.download_button:active {
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  transform: scale(0.98);
}

.ppt_card {
  position: relative;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-image: url("./images/ppstage.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
}

.ppt_frame {
  padding: 0 4vw;
  width: 50%;
  aspect-ratio: 16/9;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 1300px) {
  .ppt_frame {
    height: 50%;
  }
}

@media only screen and (max-width: 1100px) {
  .congrats_card_message_container {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 1rem !important;
  }
  .ppt_frame {
    width: 720px;
  }
}

@media only screen and (max-width: 768px) {
  .ppt_frame {
    width: 600px;
  }
  .ppt_card {
    height: 630px;
  }
  .download_button {
    font-size: 2rem !important;
    padding: 1rem 2rem !important;
  }
  .download_icon {
    width: 2rem;
  }
}

@media only screen and (max-width: 420px) {
  .ppt_frame {
    width: 300px;
  }
  .ppt_card {
    height: 418px;
  }
  .congrats_card_message {
    font-size: 2.75rem;
  }
  .congrats_card_submessage {
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 350px) {
  .download_button {
    font-size: 1.75rem !important;
    padding: 1rem 1rem !important;
  }
  .download_icon {
    width: 1.75rem;
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -10px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 10px;
}

.message_board_header {
  background: white;
  border: 3px;
  border-radius: 24px 24px 24px 24px;
  padding: 1rem;
}

.message_board_wrapper {
  background-image: url("./images/pptile.png") !important;
  background-attachment: fixed;
  background-size: 150px !important;
  background-repeat: repeat !important;

  padding-top: 2rem;
}

.message_board {
  padding-bottom: 3rem;
  width: 100%;
}

.messageboardLoader {
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.footer {
  padding: 3rem;
}

.message_card {
  position: relative !important;
  margin-top: 15px !important;
}

.message_card_icon {
  position: absolute !important;
  z-index: 100;
  top: -14px;
  width: 40px;
  right: -11px;
  filter: drop-shadow(2px 2px 1px darkgray);
}
