html,
body {
  scroll-behavior: smooth;
  font-family: "M PLUS 1p" !important;
  line-break: strict;
}

.shuriken {
  animation: loading 1s ease infinite;
  width: 64px;
  height: 64px;
  position: absolute !important;
  z-index: 10;
}

@keyframes loading {
  /* Safari support */
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes slideBg {
  /* Safari support */
  0% {
    background-image: url("./assets/images/hikawa.png");
  }
  20% {
    background-image: url("./assets/images/hikawa.png");
  }
  25% {
    background-image: url("./assets/images/shukonbu.png");
  }
  45% {
    background-image: url("./assets/images/shukonbu.png");
  }
  50% {
    background-image: url("./assets/images/yuuhidora.png");
  }
  70% {
    background-image: url("./assets/images/yuuhidora.png");
  }
  75% {
    background-image: url("./assets/images/shukonbu2.png");
  }
  95% {
    background-image: url("./assets/images/shukonbu2.png");
  }
  100% {
    background-image: url("./assets/images/hikawa.png");
  }
}

.download_png_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

.download_png_button {
  font-size: 2rem;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -10px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 10px;
}

.message_board_header {
  background: white;
  border: 3px;
  border-radius: 24px 24px 24px 24px;
  padding: 1rem;
}

.message_board_text {
  font-weight: 900;
  margin-bottom: 0;
}

.message_board_wrapper {
  background-image: url("./assets/images/pptile.png") !important;
  background-attachment: fixed;
  background-size: 150px !important;
  background-repeat: repeat !important;
  padding-top: 2rem;
}

.message_board {
  padding-bottom: 3rem;
  width: 100%;
}

.messageboardLoader {
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.footer {
  padding: 3rem;
}

.message_card {
  position: relative !important;
  margin-top: 15px !important;
}

.message_card_icon {
  position: absolute !important;
  z-index: 100;
  top: -14px;
  width: 40px;
  right: -11px;
  filter: drop-shadow(2px 2px 1px darkgray);
}

.back_to_top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 500;
  box-shadow: 0px 0px 12px 2px grey;
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.33;
  border-radius: 25px;
}

.spinning_shuriken img {
  animation: loading 1s infinite;
  animation-iteration-count: 1;
}

@media only screen and (max-width: 1100px) {
  @keyframes slideBg {
    /* Safari support */
    0% {
      background-image: url("./assets/images/hikawa.png");
    }
    20% {
      background-image: url("./assets/images/hikawa.png");
    }
    25% {
      background-image: url("./assets/images/shukonbu.png");
    }
    45% {
      background-image: url("./assets/images/shukonbu.png");
    }
    50% {
      background-image: url("./assets/images/yuuhidora_rc.png");
    }
    70% {
      background-image: url("./assets/images/yuuhidora_rc.png");
    }
    75% {
      background-image: url("./assets/images/shukonbu2.png");
    }
    95% {
      background-image: url("./assets/images/shukonbu2.png");
    }
    100% {
      background-image: url("./assets/images/hikawa.png");
    }
  }

  .download_button_png_description {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  @keyframes slideBg {
    /* Safari support */
    0% {
      background-image: url("./assets/images/hikawa.png");
    }
    20% {
      background-image: url("./assets/images/hikawa.png");
    }
    25% {
      background-image: url("./assets/images/shukonbu.png");
    }
    45% {
      background-image: url("./assets/images/shukonbu.png");
    }
    50% {
      background-image: url("./assets/images/yuuhidora_center.png");
    }
    70% {
      background-image: url("./assets/images/yuuhidora_center.png");
    }
    75% {
      background-image: url("./assets/images/shukonbu2.png");
    }
    95% {
      background-image: url("./assets/images/shukonbu2.png");
    }
    100% {
      background-image: url("./assets/images/hikawa.png");
    }
  }
}

@media only screen and (max-width: 820px) and (orientation: landscape) {
  .download_button_png_description {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 425px) {
  .message_item_container {
    padding: 0 1rem;
  }

  .download_button_png_description {
    font-size: 1rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .download_png_button:hover .download_icon {
    animation: loading 1s infinite;
  }
}

.ww {
  display: inline-block;
}

.pplingo {
  font-size: 1.3rem;
  text-shadow: 0 0 10px black;
  padding: 0.5rem 1rem;
}

.credit_button {
  font-size: 1.3rem;
  text-shadow: 0 0 10px black;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.credit_close_button {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
