html,
body {
  scroll-behavior: smooth;
  font-family: "M PLUS 1p" !important;
  line-break: strict;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -10px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 10px;
}

.spinning_shuriken img {
  animation: loading 1s infinite;
  animation-iteration-count: 1;
}

.ww {
  display: inline-block;
}

.pplingo {
  font-size: 1.3rem;
  text-shadow: 0 0 10px black;
  padding: 0.5rem 1rem;
}

@keyframes loading {
  /* Safari support */
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes slideBg {
  /* Safari support */
  0% {
    background-image: url("./assets/images/hikawa.png");
  }
  20% {
    background-image: url("./assets/images/hikawa.png");
  }
  25% {
    background-image: url("./assets/images/shukonbu.png");
  }
  45% {
    background-image: url("./assets/images/shukonbu.png");
  }
  50% {
    background-image: url("./assets/images/yuuhidora.png");
  }
  70% {
    background-image: url("./assets/images/yuuhidora.png");
  }
  75% {
    background-image: url("./assets/images/shukonbu2.png");
  }
  95% {
    background-image: url("./assets/images/shukonbu2.png");
  }
  100% {
    background-image: url("./assets/images/hikawa.png");
  }
}

@media only screen and (max-width: 1100px) {
  @keyframes slideBg {
    /* Safari support */
    0% {
      background-image: url("./assets/images/hikawa.png");
    }
    20% {
      background-image: url("./assets/images/hikawa.png");
    }
    25% {
      background-image: url("./assets/images/shukonbu.png");
    }
    45% {
      background-image: url("./assets/images/shukonbu.png");
    }
    50% {
      background-image: url("./assets/images/yuuhidora_rc.png");
    }
    70% {
      background-image: url("./assets/images/yuuhidora_rc.png");
    }
    75% {
      background-image: url("./assets/images/shukonbu2.png");
    }
    95% {
      background-image: url("./assets/images/shukonbu2.png");
    }
    100% {
      background-image: url("./assets/images/hikawa.png");
    }
  }
}

@media only screen and (max-width: 768px) {
  @keyframes slideBg {
    /* Safari support */
    0% {
      background-image: url("./assets/images/hikawa.png");
    }
    20% {
      background-image: url("./assets/images/hikawa.png");
    }
    25% {
      background-image: url("./assets/images/shukonbu.png");
    }
    45% {
      background-image: url("./assets/images/shukonbu.png");
    }
    50% {
      background-image: url("./assets/images/yuuhidora_center.png");
    }
    70% {
      background-image: url("./assets/images/yuuhidora_center.png");
    }
    75% {
      background-image: url("./assets/images/shukonbu2.png");
    }
    95% {
      background-image: url("./assets/images/shukonbu2.png");
    }
    100% {
      background-image: url("./assets/images/hikawa.png");
    }
  }
}
