body,
html {
  margin: 0;
  text-align: center;
  background-color: lightblue;
}

.App {
  padding-top: 2rem;
}

.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}

.main-container {
  text-align: center;
  background-color: whitesmoke;
}
